<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title>Yelp Camp</title>    
    </head>

    <body>
        <nav class="navbar navbar-default" style="background-color:rgb(175, 175, 175);">
            <div class="containter-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">YelpCamp</a> 
                </div>
            </div>
            <div class="containter-fluid">
                <ul class="nav w-100">
                    <li style="padding-right: 20px"><a href="/">Login</a></li>
                    <li style="padding-right: 20px"><a href="/">Register</a></li>
                    <li style="padding-right: 20px"><a href="/">Logout</a></li>
                </ul>
            </div>
            
        </nav>
          
        
   